.footer-container{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 5%;
}
.footer-inner {
  width: 100%;
  height: 120%;
  padding: 1%;
  display: flex;
  justify-content: start;
  /* border: 4px solid purple; */
}
.footer-font{
  color: #fff;
  font-weight: 100;
  font-size: 0.7rem;
}